In this checkpoint, we are going to work on the 'Credit Card Dataset for Clustering' dataset provided by Kaggle.

Dataset description : This dataset was derived and simplified for learning purposes. It includes usage behaviour of about 9000 active credit card holders during 6 months period. This case requires to develop a customer segmentation to define marketing strategy.


![Image](https://i.imgur.com/gAT5gVg_d.webp?maxwidth=780&fidelity=grand)

Columns explanation : 

CUST_ID: Identification of Credit Card holder (Categorical)
BALANCE_FREQUENCY: How frequently the Balance is updated, score between 0 and 1 (1 = frequently updated, 0 = not frequently updated)
PURCHASES: Amount of purchases made from account 
CASH_ADVANCE: Cash in advance given by the user
CREDIT_LIMIT: Limit of Credit Card for user 
PAYMENTS: Amount of Payment done by user 


Instructions

1-Import you data and perform basic data exploration phase
2-Perform the necessary data preparation steps ( Corrupted and missing values handling, data encoding, outliers handling ... )
3-Perform hierarchical clustering to identify the inherent groupings within your data. Then, plot the clusters. (use only 2 features. For example, try to cluster the customer base with respect to 'PURCHASES' and 'credit limit')
4-Perform partitional clustering using the K-means algorithm. Then, plot the clusters
5-Find the best k value and plot the clusters again.
6-Interpret the results

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import os

In [12]:
data_path = r"C:\Users\Elle\Desktop\MACHINE LEARNING\ML_CheckPoints\Credit_Card_Clustering\Credit_card_dataset.csv"

In [13]:
file_name = "Credit_card_dataset.csv"
final_path = os.path.join (data_path , file_name)

In [14]:
df = pd.read_csv("Credit_card_dataset.csv")

In [15]:
df.shape

(8950, 6)

In [16]:
df.head()

,CUST_ID,BALANCE_FREQUENCY,PURCHASES,PAYMENTS,CREDIT_LIMIT,CASH_ADVANCE
0,C10001,0.818182,95.40,201.802084,1000.0,0.000000
1,C10002,0.909091,0.00,4103.032597,7000.0,6442.945483
2,C10003,1.000000,773.17,622.066742,7500.0,0.000000
3,C10004,0.636364,1499.00,0.000000,7500.0,205.788017
4,C10005,1.000000,16.00,678.334763,1200.0,0.000000

In [17]:
df.tail()

,CUST_ID,BALANCE_FREQUENCY,PURCHASES,PAYMENTS,CREDIT_LIMIT,CASH_ADVANCE
8945,C19186,1.000000,291.12,325.594462,1000.0,0.000000
8946,C19187,1.000000,300.00,275.861322,1000.0,0.000000
8947,C19188,0.833333,144.40,81.270775,1000.0,0.000000
8948,C19189,0.833333,0.00,52.549959,500.0,36.558778
8949,C19190,0.666667,1093.25,63.165404,1200.0,127.040008

In [18]:
df.loc[0]

CUST_ID                  C10001
BALANCE_FREQUENCY      0.818182
PURCHASES                  95.4
PAYMENTS             201.802084
CREDIT_LIMIT             1000.0
CASH_ADVANCE                0.0
Name: 0, dtype: object

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CUST_ID            8950 non-null   object
 1   BALANCE_FREQUENCY  8950 non-null   float64
 2   PURCHASES          8950 non-null   float64
 3   PAYMENTS           8950 non-null   float64
 4   CREDIT_LIMIT       8949 non-null   float64
 5   CASH_ADVANCE       8950 non-null   float64
dtypes: float64(5), object(1)
memory usage: 419.7+ KB