In this checkpoint, we are going to practice consuming public APIs through the NASA public APIs portal.

Portal description : The objective of this portal is to make NASA data, including imagery, eminently accessible to application developers and data professionals. Before starting to use its APIs endpoints, it's mandatory that you generate your API KEY and store it somewhere for later use. The API key acts as the user identifier when requesting the API. To get your KEY, fill in the provided form with your personal information, and then we shall receive an email containing your personal API KEY.


![Image](https://i.imgur.com/hisTmpk_d.webp?maxwidth=780&fidelity=grand)




Instructions

1. Go to the NASA API portal and generate your API KEY
2. Import the requests package and store your API KEY in variable
3. Go back to portal website and click on 'browse APIs'
4. Click on the first dropdown menu, named 'APOD' and read its documentation
5. Follow the provided documentation to ask the API endpoint for the astronomy picture of the day. Get then display the image on your notebook.
6. Go through the list of the provided API endpoints once again and select 'Astronomy Picture of the Day' option. Store the results in a pandas dataframe
7. Do the necessary data pre-processing tasks on the previous result in order to get a clean dataframe with the following columns :
 - Asteroid ID
 - Asteroid name
 - The Minimal estimated diameter in Kilometre
 - Absolute_magnitude
 - Relative_velocity(km/s)
8. Try to export the new dataframe into a CSV file and share it with your colleagues

In [71]:
import requests
import pandas as pd

In [72]:
api_key = 'P6JjSMsrv68cgtgBtXTaKzRZW9BB6GJAqKNLgVnG'

In [73]:
api_url = 'https://api.nasa.gov/planetary/apod?api_key='+api_key

In [74]:
from IPython.display import Image, display
apod_url = "https://api.nasa.gov/planetary/apod"
params = {
    'api_key': api_key
}
response = requests.get(apod_url, params=params)
data = response.json()
image_url = data['url']
display(Image(url=image_url))

In [75]:
neows_url = "https://api.nasa.gov/neo/rest/v1/neo/browse"
params = {
    'api_key': api_key
}
response = requests.get(neows_url, params=params)
asteroid_data = response.json()

asteroids = asteroid_data['near_earth_objects']
df = pd.DataFrame(asteroids, columns=['id', 'name', 'estimated_diameter', 'absolute_magnitude_h', 'close_approach_data'])

df.head()

,id,name,estimated_diameter,absolute_magnitude_h,close_approach_data
0,2000433,433 Eros (A898 PA),{'kilometers': {'estimated_diameter_min': 22.0...,10.41,"[{'close_approach_date': '1900-12-27', 'close_..."
1,2000719,719 Albert (A911 TB),{'kilometers': {'estimated_diameter_min': 2.02...,15.59,"[{'close_approach_date': '1909-08-21', 'close_..."
2,2000887,887 Alinda (A918 AA),{'kilometers': {'estimated_diameter_min': 4.45...,13.88,"[{'close_approach_date': '1910-01-04', 'close_..."
3,2001036,1036 Ganymed (A924 UB),{'kilometers': {'estimated_diameter_min': 37.5...,9.25,"[{'close_approach_date': '1910-02-25', 'close_..."
4,2001221,1221 Amor (1932 EA1),{'kilometers': {'estimated_diameter_min': 0.88...,17.38,"[{'close_approach_date': '1900-03-08', 'close_..."

In [76]:
cleaned_data = []
for asteroid in asteroids:
    asteroid_id = asteroid['id']
    name = asteroid['name']
    min_diameter_km = asteroid['estimated_diameter']['kilometers']['estimated_diameter_min']
    absolute_magnitude = asteroid['absolute_magnitude_h']
    relative_velocity = asteroid['close_approach_data'][0]['relative_velocity']['kilometers_per_second']
    cleaned_data.append({
        'Asteroid ID': asteroid_id,
        'Asteroid Name': name,
        'Minimal Estimated Diameter (km)': min_diameter_km,
        'Absolute Magnitude': absolute_magnitude,
        'Relative Velocity (km/s)': relative_velocity
    })

cleaned_df = pd.DataFrame(cleaned_data)

cleaned_df.head()

,Asteroid ID,Asteroid Name,Minimal Estimated Diameter (km),Absolute Magnitude,Relative Velocity (km/s)
0,2000433,433 Eros (A898 PA),22.006703,10.41,5.5786191875
1,2000719,719 Albert (A911 TB),2.025606,15.59,3.4460288901
2,2000887,887 Alinda (A918 AA),4.451998,13.88,6.8047915885
3,2001036,1036 Ganymed (A924 UB),37.545248,9.25,6.3038664776
4,2001221,1221 Amor (1932 EA1),0.888290,17.38,13.26937926