In this checkpoint, we are going to work on the 'Systemic Crisis, Banking Crisis, inflation Crisis In Africa' dataset that was provided by Kaggle.

Dataset description : This dataset focuses on the Banking, Debt, Financial, Inflation and Systemic Crises that occurred, from 1860 to 2014, in 13 African countries, including: Algeria, Angola, Central African Republic, Ivory Coast, Egypt, Kenya, Mauritius, Morocco, Nigeria, South Africa, Tunisia, Zambia and Zimbabwe. The ML model objective is to predict the likelihood of a Systemic crisis emergence given a set of indicators like the annual inflation rates.

![Image](https://i.imgur.com/3XzFz3x_d.webp?maxwidth=760&fidelity=grand)



 ## Instructions

1. Import you data and perform basic data exploration phase
 - Display general information about the dataset
 - Create a pandas profiling reports to gain insights into the dataset
 - Handle Missing and corrupted values
 - Remove duplicates, if they exist
 - Handle outliers, if they exist
 - Encode categorical features
2. Select your target variable and the features
3. Split your dataset to training and test sets
4. Based on your data exploration phase select a ML classification algorithm and train it on the training set
5. Assess your model performance on the test set using relevant evaluation metrics
6. Discuss with your cohort alternative ways to improve your model performance

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import os

In [2]:
data_path = r"C:\Users\Elle\Desktop\MACHINE LEARNING\ML_CheckPoints\African_crises\African_crises_dataset.csv"

In [3]:
file_name = "African_crises_dataset.csv"
final_path = os.path.join (data_path , file_name)

In [1]:
df = pd.read_csv("African_crises_dataset.csv")

NameError: name 'pd' is not defined

In [5]:
df.shape

(1059, 14)

In [6]:
df.head()

,country_number,country_code,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [7]:
df.tail()

,country_number,country_code,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
1054,70,ZWE,Zimbabwe,2009,1,354.8,1,1,0.0,-7.670,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.2,1,1,0.0,3.217,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.9,1,1,0.0,4.920,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.9,1,1,0.0,3.720,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.9,1,1,0.0,1.632,1,0,0,no_crisis

In [8]:
df.loc[0]

country_number                            1
country_code                            DZA
country                             Algeria
year                                   1870
systemic_crisis                           1
exch_usd                           0.052264
domestic_debt_in_default                  0
sovereign_external_debt_default           0
gdp_weighted_default                    0.0
inflation_annual_cpi               3.441456
independence                              0
currency_crises                           0
inflation_crises                          0
banking_crisis                       crisis
Name: 0, dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_number                   1059 non-null   int64
 1   country_code                     1059 non-null   object
 2   country                          1059 non-null   object
 3   year                             1059 non-null   int64
 4   systemic_crisis                  1059 non-null   int64
 5   exch_usd                         1059 non-null   float64
 6   domestic_debt_in_default         1059 non-null   int64
 7   sovereign_external_debt_default  1059 non-null   int64
 8   gdp_weighted_default             1059 non-null   float64
 9   inflation_annual_cpi             1059 non-null   float64
 10  independence                     1059 non-null   int64
 11  currency_crises                  1059 non-null   int64
 12  inflation_crises                 1059 non-null   int64
 13  banking_crisis                   1059 non-null   object
dtypes: float64(3), int64(8), object(3)
memory usage: 116.0+ KB

In [10]:
df.isnull().sum()

country_number                     0
country_code                       0
country                            0
year                               0
systemic_crisis                    0
exch_usd                           0
domestic_debt_in_default           0
sovereign_external_debt_default    0
gdp_weighted_default               0
inflation_annual_cpi               0
independence                       0
currency_crises                    0
inflation_crises                   0
banking_crisis                     0
dtype: int64

In [11]:
describtion = df.describe().T
describtion.shape

(11, 8)

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
country_number,1059.0,35.613787,23.692402,1.000000,15.000000,38.00000,56.000000,7.000000e+01
year,1059.0,1967.767705,33.530632,1860.000000,1951.000000,1973.00000,1994.000000,2.014000e+03
systemic_crisis,1059.0,0.077432,0.267401,0.000000,0.000000,0.00000,0.000000,1.000000e+00
exch_usd,1059.0,43.140831,111.475380,0.000000,0.195350,0.86840,8.462750,7.443061e+02
domestic_debt_in_default,1059.0,0.039660,0.195251,0.000000,0.000000,0.00000,0.000000,1.000000e+00
sovereign_external_debt_default,1059.0,0.152975,0.360133,0.000000,0.000000,0.00000,0.000000,1.000000e+00
gdp_weighted_default,1059.0,0.006402,0.043572,0.000000,0.000000,0.00000,0.000000,4.000000e-01
inflation_annual_cpi,1059.0,20848.892444,675727.429176,-28.502137,2.086162,5.76233,11.644048,2.198970e+07
independence,1059.0,0.776204,0.416984,0.000000,1.000000,1.00000,1.000000,1.000000e+00
currency_crises,1059.0,0.132200,0.349847,0.000000,0.000000,0.00000,0.000000,2.000000e+00
inflation_crises,1059.0,0.129367,0.335765,0.000000,0.000000,0.00000,0.000000,1.000000e+00

In [14]:
selected_columns = df.select_dtypes(exclude=['object'])
describtion['nunique']=selected_columns.nunique()
describtion['NULLS']=selected_columns.isna().sum()
describtion

,count,mean,std,min,25%,50%,75%,max,nunique,NULLS
country_number,1059.0,35.613787,23.692402,1.000000,15.000000,38.00000,56.000000,7.000000e+01,13,0
year,1059.0,1967.767705,33.530632,1860.000000,1951.000000,1973.00000,1994.000000,2.014000e+03,155,0
systemic_crisis,1059.0,0.077432,0.267401,0.000000,0.000000,0.00000,0.000000,1.000000e+00,2,0
exch_usd,1059.0,43.140831,111.475380,0.000000,0.195350,0.86840,8.462750,7.443061e+02,772,0
domestic_debt_in_default,1059.0,0.039660,0.195251,0.000000,0.000000,0.00000,0.000000,1.000000e+00,2,0
sovereign_external_debt_default,1059.0,0.152975,0.360133,0.000000,0.000000,0.00000,0.000000,1.000000e+00,2,0
gdp_weighted_default,1059.0,0.006402,0.043572,0.000000,0.000000,0.00000,0.000000,4.000000e-01,6,0
inflation_annual_cpi,1059.0,20848.892444,675727.429176,-28.502137,2.086162,5.76233,11.644048,2.198970e+07,1022,0
independence,1059.0,0.776204,0.416984,0.000000,1.000000,1.00000,1.000000,1.000000e+00,2,0
currency_crises,1059.0,0.132200,0.349847,0.000000,0.000000,0.00000,0.000000,2.000000e+00,3,0
inflation_crises,1059.0,0.129367,0.335765,0.000000,0.000000,0.00000,0.000000,1.000000e+00,2,0

In [15]:
from pandas_profiling import ProfileReport
profile = ProfileReport(data, title="Pandas Profiling Report", explorative=True)
profile.to_file("report.html")

c:\Users\Elle\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.6/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.6/u/import-error

In [17]:
print(df.isnull().sum())

country_number                     0
country_code                       0
country                            0
year                               0
systemic_crisis                    0
exch_usd                           0
domestic_debt_in_default           0
sovereign_external_debt_default    0
gdp_weighted_default               0
inflation_annual_cpi               0
independence                       0
currency_crises                    0
inflation_crises                   0
banking_crisis                     0
dtype: int64

In [19]:
df = df.drop_duplicates()

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
from sklearn.preprocessing import OneHotEncoder

categorical_cols = ['column1', 'column2'] 
encoder = OneHotEncoder(sparse=False)
encoded_data = encoder.fit_transform(df[categorical_cols])
df_encoded = pd.concat([df.drop(categorical_cols, axis=1), pd.DataFrame(encoded_data, columns=encoder.get_feature_names(categorical_cols))], axis=1)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

Target Variable

In [46]:
X = df.drop('systemic_crisis', axis=1)
y = df['systemic_crisis']

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [1]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [51]:
inputs = df.drop('systemic_crisis',axis='columns')
target = df['systemic_crisis']

In [ ]:
inputs['systemic_crisis_n'] = le_degree.fit_transform(inputs['degree'])